/* ==========================================================================
   Form Block

   Used in default forms
========================================================================== */
.formblock {
    text-align: left;
    > div {
        margin-bottom: $gutter-size;
    }
    .form-control {
        border-radius: 0;
    }
}

.form-contact {
    margin-left: -$gutter-size;
    margin-right: -$gutter-size;
}

//== Elements
//-------------------------------------------------------------------------------------------------------------------//
.section {
    .section-wrap {
        padding-top: $gutter-size * 4;
        padding-bottom: $gutter-size * 4;
        @media (max-width: $screen-xs-max) {
            padding-top: $gutter-size * 2;
            padding-bottom: $gutter-size * 2;
        }
    }
    .section-header {
        margin-bottom: $gutter-size * 2;
    }
    .section-body {
        position: relative;
    }
    .section-footer {
        margin-top: $gutter-size * 2;
    }
    .section-img {
        max-width: 90%;
        @media (max-width: $screen-xs-max) {
            max-width: 100%;
            margin-bottom: $gutter-size * 2;
        }
    }
    .section-title {
        padding-bottom: $gutter-size;
        position: relative;
        font-weight: $font-weight-semibold;
        line-height: 1.4;
        &:before {
            position: absolute;
            bottom: 0;
            height: 2px;
            width: 100px;
            background-color: $font-color-header;
            content: '';
        }
    }
    .section-subtitle {
        position: relative;
    }
}

.section-map {
    padding-bottom: 0;
    .section-header {
        margin-bottom: $gutter-size * 2;
    }
    .section-body {
        margin-bottom: $gutter-size * 2;
    }
    .event-map {
        @media (max-width: $screen-xs-max) {
            padding-bottom: 300px !important;
        }
    }
}

.section-header_left {
    text-align: left;
}

.section-header_center {
    text-align: center;
    .section-title {
        &:before {
            left: 50%;
            margin-left: -50px;
        }
    }
    .section-subtitle {
        max-width: 630px;
        margin: $gutter-size auto 0;
    }
}

.section-header_right {
    text-align: right;
}

.section-body_center {
    max-width: 630px;
    margin: $gutter-size auto 0;
    padding: 0 $gutter-size;
}

.profile {
    padding: $gutter-size * 2;
    @media (max-width: $screen-xs-max) {
        flex-direction: column;
        margin-left: -$gutter-size;
        margin-right: -$gutter-size;
    }
    img {
        height: 100px;
        width: 100px;
        margin-right: $gutter-size * 2;
        margin-bottom: $gutter-size;
        @media (max-width: $screen-xs-max) {
            height: 80px;
            width: 80px;
            margin-bottom: $gutter-size;
        }
    }
}
