/* ==========================================================================
   Backgrounds

   Different background components, all managed by variables
========================================================================== */

.background-main {
    border-top: 1px solid #f8f8f8;
}

.background-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15) !important;
}

.background-split {
    background-color: $bg-color-secondary !important;
    .container {
        position: relative;
        > .flexcontainer {
            overflow: visible;
            > .flexitem:first-child {
                position: relative;
                &:before {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 300%;
                    background-color: $brand-inverse;
                    content: '';
                    @media (max-width: $screen-sm-max) {
                        right: -15px;
                    }
                }
            }
        }
    }
}
