.mx-listview.mx-listview-auto-load-more ul {
    overflow-y: scroll;
    overflow-x: hidden;
}

.listview-table.mx-listview.listview-stylingless {
    margin-bottom: 10px;
    li {
        padding: 10px 10px;
        background-color: #f1f1f1;
        border-top: 1px solid #eee;
        &:hover {
            background-color: #f1f1f1;
        }
        @media (max-width: $screen-sm-max) {
            padding: 5px 20px;
            .row {
                margin: 0;
            }
            div[class*='col-'] {
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 0;
                padding-right: 0;
                border-bottom: 1px solid #dddddd;
                &:last-child {
                    border-bottom: 0;
                }
            }
        }
        &:last-child {
            border-bottom: 1px solid #eee;
        }
        .form-group {
            margin-bottom: 0;

            .form-control-static {
                color: #000;
                flex: 1;
                overflow: hidden;
                min-height: auto;
                padding: 7px 0;
                border-bottom: 0;
                font-size: 14px;
            }
        }
        .widget-star-rating {
            padding-top: 5px;
        }
        &:nth-child(2n + 1) {
            background-color: #fff;
            &:hover {
                background-color: #fff;
            }
        }
    }
    &.listview-table-secondary {
        li {
            &:nth-child(2n + 1) {
                background-color: #fafafa;
                &:hover {
                    background-color: #fafafa;
                }
            }
        }
    }
}

.widget-pagination {
    width: 100%;
    text-align: center;
}
